 h1 {
    color: aqua;
    font-family: verdana;
    font-size: 600%;
    text-align: center;
  }
  p {
    color: black;
    font-family: courier;
    font-size: 250%;
  }  
  body {
    background-color: whitesmoke;
    opacity: 1;
  }
  img {
    max-width: 100%;
    height: auto;
  }