 h1 {
    color: aqua;
    font-family: verdana;
    font-size: 600%;
    text-align: center;
  }
  p {
    color: black;
    font-family: courier;
    font-size: 250%;
  }  
  body {
    background-color: whitesmoke;
    opacity: 1;
  }
  img {
    max-width: 100%;
    height: auto;
  }

.topnav {
  overflow: hidden;
  background-color: whitesmoke;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: whitesmoke;
  color: #04AA6D;
}

.topnav a.active {
  background-color: whitesmoke;
  color: #04AA6D;
  font-size: 24px;
}  

.topnav a.autori {
  float: right;
} 
.topnav a.tym {
  float: right;
}  
.topnav a.knizky {
  float: right;
}  
 
